.todoitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 3px;
    margin-right: 5px;
    position: relative;
    
}

*/

.todoitem-p--complete {
    text-decoration: line-through;
}

.todoitem-container--icon {
    display: flex;
    gap: 15px;
    margin-right: 10px;
}

.icon-edit:hover svg{
    fill: greenyellow
}

.icon-check--active {
    color: #4caf50;
}

.icon-delete:hover svg {
    fill: red;
}