.CreateTodoButton {
    display: flex;
    position: fixed;

    width: 64px;
    height: 64px;
    font-size: 50px;
    font-weight: bold;
    bottom: 24px;
    right: 24px;
    color: white;
    

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #FF9B00;
    border: none;

    transform: rotate(0);
    transition: .7s ease;

    /*  */

    z-index: 1;

}

.CreateTodoButton:hover {
    transform: rotate(360deg);
}
