.ModalBackground {
    background-color: rgba(194, 199, 211, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}