.changeAlert-container {
    margin-left: 25px;
}

.reloading {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: #FF9B00;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    font-size: medium;
    font-weight: bolder;
}

.reloading:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.reloading:active {
    color: #FF9B00
}

.reloading:active:after {
    background: transparent;
}

.reloading:hover:before {
    opacity: 1;
}

.reloading:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF9B00;
    left: 0;
    top: 0;
    border-radius: 10px;
}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}